<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0"
         xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                             https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">

    <!-- JSF dev mode -->
    <context-param>
        <param-name>jakarta.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>

    <!-- BẮT JSF CHECK LẠI XHTML MỖI REQUEST (0 = luôn refresh) -->
    <context-param>
        <param-name>jakarta.faces.FACELETS_REFRESH_PERIOD</param-name>
        <param-value>0</param-value>
    </context-param>

    <!-- Cloudinary config -->
    <context-param>
        <param-name>cloudinary.cloud_name</param-name>
        <param-value>dl5nuwgfl</param-value>
    </context-param>

    <context-param>
        <param-name>cloudinary.api_key</param-name>
        <param-value>472193174456539</param-value>
    </context-param>

    <context-param>
        <param-name>cloudinary.api_secret</param-name>
        <param-value>vPNOl1wvWU1NM8NPYM7NmHGriXw</param-value>
    </context-param>
    
    
    <context-param>
        <param-name>vnpay.tmnCode</param-name>
        <param-value>U1O5RO7N</param-value>
    </context-param>
<context-param>
    <param-name>jakarta.faces.FACELETS_ENCODING</param-name>
    <param-value>UTF-8</param-value>
</context-param>

    <context-param>
        <param-name>vnpay.hashSecret</param-name>
        <param-value>7ZC0H25LGR2R27J7IK2GQY9TG449PGGI</param-value>
    </context-param>

    <context-param>
        <param-name>vnpay.payUrl</param-name>
        <param-value>https://sandbox.vnpayment.vn/paymentv2/vpcpay.html</param-value>
    </context-param>

    <!-- Nếu bạn muốn cố định returnUrl (khuyên dùng khi deploy thật) -->
    <context-param>
        <param-name>vnpay.returnUrl</param-name>
        <param-value>http://localhost:8080/FeastLink-war/faces/vnpay_return.xhtml</param-value>
    </context-param>
    

    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>jakarta.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>faces/Customer/index.xhtml</welcome-file>
    </welcome-file-list>
</web-app>
